@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@theme {
    /* Colors */
    --color-teamapp-darkblue: #324162;
    --color-teamapp-footerblue: #3c4862;
    --color-teamapp-grey: #697694;
    --color-teamapp-blue: #0bbef2;
    --color-teamapp-yellow: #ffb200;
    --color-teamapp-white: #f5f7fa;
    /* Fonts */
    --font-cabin: 'Cabin', sans-serif;
    /* Breakpoints */
    --breakpoint-3xl: 121rem; /* 120rem is 1920px */
}

@media (max-width: 640px) {
    /* Tailwind's default 'sm' breakpoint is 640px */
    .bg-shift-left-mobile {
        background-position: calc(56%) center;
    }
}
